body{
  background-color:#fefaf6;
  overflow-x: hidden;
  font-family: 'Syncopate', sans-serif;

}

.logo{
  border-radius: 50%;
  margin: 0 10px;
  float: left;
}

.logo-h{
  border-radius: 50%;
  margin: 0 10px;


}
.navbar{
  background-color:#fefaf6;
}
.nav-item{
  margin-right: 20px;
}

.heading-div{
  margin: auto;
  padding: 50px;
}

.title-heading{
  color: #232320;
  font-size: 3.5em;
  letter-spacing: -1.5px;
  line-height: 110%;
}

.title-sub-heading{
  color: #656270;
  font-size: 2em;
  line-height: 1.7;
}

.title{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,232,250,1) 38%, rgba(148,233,203,1) 84%, rgba(255,255,255,1) 100%);
  text-align: center;
  border-radius: 10%;
  margin: 10px 20px;


}

.title:hover{
  transform: translate3d(0,-5px,0);
    box-shadow: 0 52px 74px;
}

.title-image{
  width: 40%;
  margin: 10px auto;
}

.title-intro{
  color: #232320;
  font-size: 1em;
  line-height: 1.7;
  transition: all .2s ease-in-out;
  text-align: center;
  margin: 10px auto 70px auto;
  width: 90%;
}

.grow{
  color: #656270;
}

.about-intro{

  letter-spacing: -1.5px;
  line-height: 110%;
  color: #232320;
  font-size: 1.5em;
  width: 90%;
  margin: 30px auto;
  padding: 25px;

}

.about-image{
  width: 70%;
  border-radius: 10%;
  margin: 10px auto;
}

.about-me{
  background: rgb(255,238,238);
  background: linear-gradient(90deg, rgba(255,238,238,1) 0%, rgba(255,255,255,1) 47%, rgba(254,239,255,1) 68%);
  text-align: center;
  border-radius: 10%;
  margin: 30px 20px;

}

.about-para{


  line-height: 110%;
  color: #656270;
  font-size: 1em;
  margin: auto;
}

.about-me:hover{
  transform: translate3d(0,-5px,0);
    box-shadow: 0 52px 74px;
}
